<h3 align="center"> Список задач</h3>
<mat-list>
  <mat-list-item *ngFor="let task of tasks">
    <mat-card>{{task.id}}, Type: {{task.type}}, Status: {{task.status}}</mat-card>
  </mat-list-item>
</mat-list>
