<!--The content below is only a placeholder and can be replaced.-->

<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" opened>
    <mat-toolbar color="primary">
      <span>    {{ title }}  </span>
    </mat-toolbar>
  </mat-sidenav>
  <mat-sidenav-content >
    <div>
      <div class="item">
        <app-tasks></app-tasks>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

